<%= form_with model: @blog_post do |f| %>

    <% if f.object.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% f.object.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <% if @blog_post.cover_image.present? %>
        <div id="<%= dom_id(blog_post, :cover_image) %>">
            <%= image_tag @blog_post.cover_image, class: "w-1/3" %>
            <%= link_to "Remove cover image", blog_post_cover_image_path(@blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    <% end %>

    <div>   
        <%= f.label :cover_image %>
        <%= f.file_field :cover_image %>
    </div>

    <div>
        <%= f.label :content %><br>
        <%= f.rich_text_area :content %>
    </div>

    <div>
        <%= f.label :published_at %>
        <%= f.datetime_select :published_at %>
    </div>

    <div>
    <%= f.submit %>
    </div>
<% end %>